* {
	font-family: 'Museo Sans Cyrl', sans-serif;
 }

.container {
	 max-width: 950px;
	 margin: 0 auto;
 }
@import 'base/variables';
@import 'base/animaton';
@import 'block/promo';
@import 'block/header';
@import 'block/buttons';
@import 'block/help';
@import 'block/titles';
@import 'block/consultation';
@import 'block/forms';
@import 'block/carusel';
@import 'block/catalog';
@import 'block/reviews';
@import 'block/footer';
@import 'block/modal';
@import 'block/pageup';
@import 'base/media';
