.consultation {
	min-height: 680px;
	padding: 100px 0 92px 0;
	background: url(../../src/img/bg2.png) center (center/cover) no-repeat ;
	&__descr {
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
		text-align-last: left;
		margin-top: 80px;
	}
	.error{
		border: 1px solid red;
		text-align: center;
		margin-bottom: 15px;
		color: #ffffff;
	}
	label.error{
		border: none;
	}	
}