.overlay{
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: rgba($color: #000000, $alpha: .56);
}
.modul {
	position: absolute;
	margin-top: 100px;
	top: 50%;
	left: 40%;
	transform: translate(-50% -50%);
	width: 380px;
	min-height: 400px;
	background-color: #f2f2f2;
	padding: 38px 40px 40px 40px;
	&__close{
		position: absolute;
		top: 0;
		right: -35px;
		font-size: 41px;
		color: $main-color;
		line-height: 21px;
		cursor: pointer;
	}
	&__sub{
		color: #0d0d0d;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
	}
	&__descr{
		color: #0d0d0d;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
	}
	&_mini{
		height: 140px;
	}
	.error{
		border: 1px solid red;
		text-align: center;
		margin-bottom: 15px;
	}
	label.error{
		border: none;
	}	
}

#consult, #order, #ok {
	display: none;
}